* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    height: 100%;
}

body {
    font-size: 1.4rem;
    font-family: 'microsoft yahei', '微软雅黑', 'arial', 'sans-serif', 'serif';
    color: #424242;
    height: 100%;
    background: #21ad7e;
}

a {
    text-decoration: none;
    color: inherit;
}

a img {
    border: none;
}

input,
button {
    border: none;
    outline: none;
    color: inherit;
    font-size: inherit;
    font-family: inherit;
}

.clearFix::after {
    content: '';
    display: block;
    clear: both;
}